extends layout

block content
  h3 Hello, #{user.username}!
  br
  h4 Your profile
  p
    h3= title
    p First name: #{user.firstName}
    p Last name: #{user.lastName}
    p Username: #{user.username}
    p Admin: #{user.admin ? 'Yes' : 'No'}
    a.user-details-links(href='/members-only/new-message') Create new message

    br
    br
    a.user-details-links(href='/members-only/log-out') Log out
    